/* IMPORT FONTS */
/****************/
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS RESET */
/*************/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

/* STYLING */
/***********/
html {
    font-size: 16px;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    font-size: 16px;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.image {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.image-overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 57, 90, 0.5);
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
    border-top-right-radius: 5% 10%;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    color: rgb(242, 243, 244);
    background-color: rgba(0, 42, 66, 0.9);
}

.right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 3;
    margin-left: -30px;
    border-top-left-radius: 30% 40%;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5),
            0px 0px 10px rgba(0, 0, 0, 1) inset;
    background-color: rgb(242, 243, 244, 0.95);
}

.left-wrapper {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 2px;
    width: 100%;
}

.section-header {
    font-family: "Poiret One", "Montserrat", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: calc(6rem + 1.5vh);
    text-align: center;
    line-height: calc(5rem + 1.5vh);
    text-shadow: 0 0 15px rgb(0, 0, 0),
                0 0 15px rgb(0, 74, 117),
                0 0 15px rgba(0, 171, 201, 0.795);
}

.section-description {
    font-family:"Montserrat", "Poiret One", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 300;
    font-size: calc(0.9rem + 0.2vh);
    text-align: center;
}

.section-description span {
    color: rgb(0, 217, 255);
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.form-description span {
    color: rgb(0, 94, 255);
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); 
}

.section-description span:hover,
.form-description span:hover {
    color: rgb(0, 238, 255);
}

.form-description span:hover {
    color: rgb(34, 113, 248);

}

.form-header {
    text-align: center;
    margin-top: 100px;
}

.form-header > .form-title {
    font-size: calc(4rem + 1.5vh);
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    font-family: "Poiret One", "Montserrat", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.form-header > .form-description {
    font-size: calc(0.9rem + 0.2vh);
    font-family:"Montserrat", "Poiret One", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.form-wrapper {
    display: flex;
    flex: 1;
    margin-top: 10px;
}

.form-column {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    justify-content:  flex-start;
    align-items: center;
    height: 75%;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
}

.form-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    position: relative;
}

.form-row input {
    border: 1.5px solid rgb(0, 74, 117);
    border-radius: 0.5rem;
    background: none;
    padding: 2px;
    outline: none;
    transition: all 160ms ease-in;
    text-align: center;
    font-size: calc(0.7rem + 0.2vh);
    font-family:"Montserrat", "Poiret One", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.form-row input:hover {
    border: 1.5px solid rgb(0, 109, 172);
}

.form-row input:focus {
    border: 1.5px solid rgb(2, 143, 225);
}

.form-row label {
    text-transform: lowercase;
    font-weight: 300;
    font-size: calc(0.7rem + 0.2vh);
    font-family:"Montserrat", "Poiret One", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


